header ul #contact{
    color: #000;
}

.main .container{
    display: flex;
    flex-direction: row;
}

.main .form{
    flex: 5;
}

.main .form #form-desc{
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}

.main form{
    display: flex;
    flex-direction:column;
    align-items: center;
}

.main form input{
    outline:none;
    
    width: 100%;
    height: 50px;
    padding: 10px;

    margin-bottom: 25px;

    font-size: 25px;
    border-radius: 10px;
    border: none;
    background-color: #c4c4c4;
    color:#000;

}

.main form textarea{
    min-width: 100%;
    min-height: 300px;
    resize: none;

    outline: none;

    padding:10px;
    margin-bottom: 25px;

    font-size:25px;
    border-radius: 10px;
    border: none;
    background-color: #c4c4c4;
    color:#000;
    
}

.main form #city-state{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main form #city-state input{
    width: 48%;
}

.main form button{
    width: 100%;
    min-width: 280px;
    max-width: 800px;
    height: auto;

    font-size: 30px;
    font-weight: 700;

    background-color: #f04444;
    border-radius:30px;
    border:none;

    padding:30px;

    transition:0.5s;

    outline:none;
}

.main form button:hover{
    background-color: #c4c4c4;
}


.main .whatsapp{
    flex: 5;
}

.main span{
    flex:1;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #f04444;
    font-size: 30px;
    font-weight: 700;
}