.title .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title .container h1{
    font-size: 5rem;
    text-align: center;
    margin: 30px;
}

.main .abstract{
    margin: 50px 0 50px 0;
}

.main .abstract .text{
    font-size: 25px;
    text-align: center;

    margin-bottom: 20px;
}

.main .abstract a{
    display: block;
    font-size: 20px;
    font-weight: 700;
    color:#2056cc;
    text-align: right;
    margin-right: 30px;
}

.main .abstract a:hover{
    color:#093246;
}

.main .container .token{
    width: fit-content;
    border-radius: 20px;
    margin:0 auto 30px auto;

    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;

    background-color: #c4c4c4;
}

.main .container .token div{
    font-size:1.75rem;

    padding:10px;
    margin: 10px;
    border-radius:10px;

    display: flex;
}

.main .container .token img{
    width: 75px;
    height: 75px;
    margin-bottom: 15px;
}

.main .container .token .born-death{
    display: flex;
    flex-direction:column;

    justify-content: center;
    align-items: center;
}


.main .container .token .basic-info{
    flex-direction: column;
}

.main .container .token .name{
    background-color: #5959be;
    color:#fff;
}

.main .container .token .nacionality{
    background-color: rgb(182, 56, 56);
    color:#fff;
}

.main .container .token .ocupation{
    background-color:mediumseagreen;
    color:#fff;
}

.main .container .token .born,
.main .container .token .death{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.main .container .token .born{
    background-color:#cfe030;
}

.main .container .token .death{
    background-color: #424647;
}

.main .container .token .b {
    font-weight: bold;
}

.main .timeline{
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0 auto;

    background-color:#0f93c7;
    border: 5px solid #000;
    border-radius:15px;
}

.main .timeline h2{
    font-size:35px;
    margin:20px;
}

.main .timeline .time-box{
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 20px;

}

.main .timeline .time-box .nothing{
    background-color:#cbcbcb;
    font-size:20px;
    color:#cbcbcb;
    border-radius: 4px 0 0 4px ;

    height: 22px;
    width:20px;
}

.main .timeline .time-box .fact{
    background-color: #cbcbcb;
    width:100%;
    height: 22px;
    font-size:20px;
    padding-left:10px;
    border-radius:0 4px 4px 0;
    

    display: flex;
    justify-content:flex-start;
    align-items:center;

}
.main .timeline .time-box .year{
    background-color:#2056cc;
    height: 28px;
    font-size:20px;
    padding:5px;
    border-radius:3px;

    display:flex;
    justify-content:center;
    align-items:center;
}

footer{
    position: initial;
    margin-top:50px;
}

@media only screen and (max-width: 1100px){

    .main .container .token .born-death{
        flex-direction: row;
    }

}