.title .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title .container h1{
    font-size: 5rem;
    text-align: center;
    margin: 30px;
}

.main .abstract{
    margin: 50px 0 50px 0;
}

.main .abstract .text{
    font-size: 25px;
    text-align: center;

    margin-bottom: 20px;
}

.main .abstract a{
    display: block;
    font-size: 20px;
    font-weight: 700;
    color:#2056cc;
    text-align: right;
    margin-right: 30px;
}

.main .abstract a:hover{
    color:#093246;
}

.main .container .token{
    width: fit-content;
    border-radius: 20px;
    margin:0 auto 30px auto;

    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;

    background-color: #c4c4c4;
}

.main .container .token div{
    font-size:1.75rem;

    padding:10px;
    margin: 10px;
    border-radius:10px;

    display: flex;
}

.main .container .token img{
    width: 75px;
    height: 75px;
    margin-bottom: 15px;
}

.main .container .token .born-death{
    display: flex;
    flex-direction:column;

    justify-content: center;
    align-items: center;
}


.main .container .token .basic-info{
    flex-direction: column;
}

.main .container .token .name{
    background-color: #5959be;
}

.main .container .token .nacionality{
    background-color: rgb(182, 56, 56);
}

.main .container .token .ocupation{
    background-color:mediumseagreen;
}

.main .container .token .born,
.main .container .token .death{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.main .container .token .born{
    background-color:#cfe030;
}

.main .container .token .death{
    background-color: #424647;
}

.main .container .token .b {
    font-weight: bold;
}

.main .timeline{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color:#0f93c7;
    border: 2px solid #424647;
}

.main .timeline h2{
    font-size:35px;
    margin:20px;
}

.main .timeline .time-box{
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 50%;
    min-width: 50%;

    margin-bottom: 20px;

}

.main .timeline .time-box .nothing{
    width:20px;
    height:100%;
    background-color:#fff;
}
.main .timeline .time-box .nothing span{
    height: 100%;
}

.main .timeline .time-box .fact{
    background-color: #fff;

    width:100%;

    font-size:20px;

}
.main .timeline .time-box .year{
    background-color:#2056cc;

    height: 100%;

    font-size:20px;
}

footer{
    position: initial;
    margin-top:50px;
}

@media only screen and (max-width: 1100px){

    .main .container .token .born-death{
        flex-direction: row;
    }

}